@import url(./box.css);
@import url(./embla.css);
@import url(./fonts.css);
@import url(./pixels.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
        @apply text-xs;
        @apply uppercase;
    }

    h2 {
        @apply text-xs;
        @apply uppercase;
    }

    h3 {
        @apply text-xs;
        @apply uppercase;
    }

    h4 {
        @apply text-xs;
        @apply uppercase;
    }

    html,
    body {
        font-size: 16px;
        font-family: minitel, arial, sans-serif;
        color: var(--primary);
        background-image: var(--p-bg-linear);
        margin: 0;
        padding: 0;
    }

    :root, html[data-theme="light"] {
        --primary: #000;
        --secondary: #FBC0DC;
        --tertiary: #0000FF;
        --highlight: #94F9B5;
        --white: #fff;
        --black: #000;
        --border-primary: #fff;
        --border-secondary: #D5CDCB;
        --bg-01: #FBC0DC;
        --bg-02: #05121B;
        --bg-03: #F9EFF2;
        --bg-input: #fff;
        --txt-hover: #05121B;
        --txt-inverted: #ffffff;
        --gradient-01: linear-gradient(45deg, var(--primary) 0%, var(--tertiary) 50%);
        --blossom-01: url('../../public/img/blossom/blossom-bottom.jpg');
        --tree: url('../../public/img/blossom/tree.jpg');
        --p-bg-linear: linear-gradient(0deg, rgba(240,38,42,0.1) 0%, rgba(247,42,107,0.1) 5%, rgba(255,255,255,.1) 30%, rgba(247,248,247,1) 100%);
    }
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}
